body {
    font-family: Arial;
    text-align: center;
}

.center {
    padding-left: 140px;
    display: flex;
    justify-content: space-evenly;
}

#circle1 {
    fill: lightblue;
    stroke: black;
    stroke-width: 5px;
}

#circle2 {
    fill: lightgreen;
}

#circle3 {
    fill: lavender;
    stroke: black;
    stroke-width: 5px;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}
